h1 { color: black; }
h1, h2 { font-family: sans-serif; }
p {text-align: justify; }
body { background-color: light-grey; }
ul { list-style: none; }

.header { 
    height: 200px; 
    background-image: url(pics/border.png); 
    background-position: right bottom ; }
.content { 
    background-color: #C6DDF5; 
    width: 79%; 
    float: left; }
.logo { 
    height: 200px; 
    width: 400px; 
    background-image: url(pics/logo1.png) ;
    background-repeat: no-repeat ;}
.menu { 
    height: 30px; 
    background-color: #B29C8A;}
.active { 
    background-color: #E5C9B1;
}


#home{background:url('pics/sprite.png') 0 4px;
    background-repeat: no-repeat ;
}
#home:hover{background: url('pics/sprite.png') 0 -44px;
background-repeat: no-repeat ;
}


#lab{background:url('pics/sprite.png') 0 -92px;
background-repeat: no-repeat ;}
#lab:hover{background: url('pics/sprite.png') 0 -140px;
background-repeat: no-repeat ;
}


#present{background:url('pics/sprite.png') 0 -188px;
background-repeat: no-repeat ;
}
#present:hover{background: url('pics/sprite.png') 0 -236px;
background-repeat: no-repeat ;
}


#kontakt{background:url('pics/sprite.png') 0 -284px;
background-repeat: no-repeat ;
}
#kontakt:hover{background: url('pics/sprite.png') 0 -332px;
background-repeat: no-repeat ;
}

#nav {
    
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0 10px;
	background-color: #B29C8A;
	border-bottom: 1px solid #8EC6DB; 
	border-top: 1px solid #8EC6DB; }
#nav li {
	float: left; }
#nav li a {
	font-family: verdana;
	display: block;
	padding: 8px 30px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	border-right: 2px solid #8EC6DB; }
#nav li a:hover {
	color: #000;
	background-color: #E5C9B1; }

.container {
    margin: 0 auto;
	background-color: #8EC6DB;
	height: auto;
	width: 1200px ; 

}
.sidebar {
    margin-right:10px;
    float: left;
    background-color: #B29C8A;
	height: auto;
	min-height: 500px;
	width: 19%;
}
#abbreviations li {
	list-style: none;
}
.footer {
	clear: both;
	background-color: #B29C8A;
	height: auto;
	min-height: 50px;
	width: 100%;     
}

.diplom {
    float: right;
    margin: 10px;
    border: 5px solid #8EC6DB;
}

.table {
    margin: 10px;
}

td {
    border: 3px solid #8EC6DB;  
}

th {
    border: 3px solid #B29C8A ;
}