h1 { color: black; }
h1, h2 { font-family: sans-serif; }
p {text-align: justify; }
body { background-color: light-grey; }
ul { list-style: none; }
.wrapper { margin: 0 auto; height: 800px; width: 100%; background-color: #8EC6DB; }
.header { height: 200px; background-image: url(pics/border.png); background-position: right bottom ; }
.content { height: 650px; background-color: #C6DDF5; width: 79%;float: left; }
.logo { height: 200px; width: 400px; background-color: #ffcc66; background-image: url(pics/logo.png) ;background-repeat: no-repeat ;}
.menu { height: 30px; background-color: #B29C8A; }
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	background-color: #B29C8A;
	border-bottom: 1px solid #8EC6DB; 
	border-top: 1px solid #8EC6DB; }
#nav li {
	float: left; }
#nav li a {
	font-family: verdana;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	border-right: 1px solid #8EC6DB; }
#nav li a:hover {
	color: #000;
	background-color: #E5C9B1; }

.container {
    margin: 0 auto;
	background-color: #8EC6DB;
	height: auto;
	width: 1200px ; 

}
.sidebar {
    margin-right:10px;
    float: left;
    background-color: #B29C8A;
	height: auto;
	min-height: 500px;
	width: 19%;
}
#abbreviations li {
	list-style: none;
}
.footer {
	clear: both;
	background-color: #B29C8A;
	height: auto;
	min-height: 50px;
	width: 100%;     
}

.video {
	text-align: top;
}